---
import "../styles/globals.css";
---

<!doctype html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <title>やる夫で学ぶディジタル信号処理</title>
  </head>
  <body>
    <h1>やる夫で学ぶディジタル信号処理</h1>
    <p>準備中（B1で目次ページに置き換え）</p>
  </body>
</html>
